.footer {
    background-image: radial-gradient(circle at 0% 0%, rgba(216,239,85,0.18) 300px, transparent 890px),radial-gradient(circle at 5% 25%, rgba(144,222,251,0.35) 20px, transparent 470px), radial-gradient(circle at 120% 1525px, rgba(144,222,251,0.25), transparent 270px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;

    &__article {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
        width: 100%;
        &__h2 {
            color: rgb(0, 0, 0);
            font-family: Helvetica, Arial, sans-serif;
            font-size:42px;
            line-height:56px;
            vertical-align:baseline;
            letter-spacing:-0.87px;
            word-spacing:0px;
            font-weight:700;
            width: 100%;
            text-align: center;
            
        }
        &__faqs-container {
            width: 67%;
            display: inherit;
            align-items: left;
            flex-direction: inherit;
            margin: 0 0 0 -2em;
            background: transparent;
            &__question {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid rgb(210,213,217);
                
                &__btn {
                    
                    font-family :Helvetica, Arial, sans-serif;
                    font-size:18px;
                    line-height:24px;
                    font-weight: 700;
                    width: 99.5%;
                    text-align: left;
                    padding: 2em 0 1em 0;
                    border: none;
                    background:transparent;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    
                }
                &__plus {
                    font-size: 15px;
                }
                
                &__answer {
                    position: relative;
                    display: block;
                    padding: 0;
                    font-family :Helvetica, Arial, sans-serif;
                    font-size:14px;
                    background-color: transparent;
                    max-height: 0;
                    overflow:hidden;
                    transition: padding .1s ease-in-out;
                    transition: max-height .7s ease-in-out;
                    &__ul {
                        &__li {
                            list-style-type: disc;
                            list-style: circle black;
                            color: rgb(0, 0, 0);
                            font-family: inherit;
                            font-size: inherit;
                            line-height: 2.5;
                        }
                    }
                    &__link {
                        color: rgb(50,128,100);
                        font-family: inherit;
                        font-size: inherit;
                    }
                }

            }
        }
    }
    &__terms-policy {
        width: 73%;
        padding: 0 0 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__container {
            display: inherit;
            flex-direction: row;
            align-self: flex-end;
            &__terms {
                font-family:Helvetica, Arial, "Lucida Grande", sans-serif;
                font-size:16px;
                line-height:24px;
                font-weight: 400;
                text-decoration: none;
                color: rgb(82,127,96);
                margin: 0 1.5em 0 0;
                align-self: flex-end;
            } 
        }
        
    }
}