.section2 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15,45,37);
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 0 2.5em 0;
    &__upper-imgs {
        position: relative;
        z-index: inherit;
        width: inherit;
        display: inherit;
        flex-direction: row;
        justify-content: space-between;
        z-index: 0;
        &__stamp1 {
            width: 90px;
            position: absolute;
            z-index: 1;
            
            left: 1.4%; 
            top: -1.3em;
            
        }
        &__stamp2 {
            z-index: 1;
            width: 150px;
            position: absolute;
            left: 87.5%;
            
            overflow: clip;
            transform: rotateZ(19deg);
        }
    }
    &__article {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 79%;
        &__text-container {
            display: inherit;
            flex-direction: column;
            text-align: left;
            &__h2 {
                margin: 1.7em 0 0 0;
                font-family : Helvetica, Arial, sans-serif;
                font-size:30px;
                color: rgb(255, 255, 255);
                line-height: 40px;
            }
            &__h3 {
                font-family :Helvetica, Arial, "Lucida Grande", sans-serif;
                font-size:16px;
                line-height:24px;
                font-weight: 400;
                color: rgb(255, 255, 255);
                width: 100%;
            }

        }
        &__email {
            display: inherit;
            flex-direction: column;
            align-items: center;
            position: relative;
            left: 7%;
            &__form {
                position: relative;
                bottom: 1em;
                &__label {
                    user-select: none;
                    position: relative;
                    left: -15.2em;
                    top:1.5em;
                    font-size: 11px;
                    font-family: 'ShopifySans', Helvetica, Arial, sans-serif;
                    color: transparent;
                    display: block;
                    transition: .15s linear;
                }
                &__input {
                    position: absolute;
                    right: -3.5em;
                    min-width: 17em;
                    padding: 1em 1em 1em 1em;
                    font-size: 16px;
                    border-radius: 4px;
                    outline: none;
                    box-sizing: border-box;
                    border: rgb(0, 0, 0)  1px solid;
                    transition: padding .175s linear 0s;
                    
                    outline: none;
                
                }
                
                &__btn {
                    background-color: rgb(50,128,96);
                    outline: none;
                    left: 5.5em;
                    top: -.1em;
                    border: none;
                    position: absolute;
                    width: 10em;
                    height: 3.25em;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    font-weight: 700;
                    font-family: 'ShopifySans', Helvetica, Arial, sans-serif;
                    border-radius:4px ;
                    cursor: pointer;
                    
                }
            }
            &__terms {
                color: rgb(255, 255, 255);
                font-family : Helvetica, Arial, "Lucida Grande", sans-serif;
                font-size:12px;
                line-height:18px;
                font-weight: 400;
                width: 77.3%;
                position: relative;
                top: 4em;
                text-align: center;
                &__link {
                    color:inherit ;
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    font-weight: inherit;
                    &:hover {
                        text-decoration:none ;
                    }
                }
            }
        }
    }
    &__lower-img {
        width: 100%;
        position: relative;
        height: 100%;
        &__pic {
            width: 75px;
            position: absolute;
            bottom: -3.2em;
            left: 50%;
            transform: rotateZ(16deg);
        }
    }
}

.input {
    position: absolute;
    right: -.5em;
    width: 16em;
    min-width: 0%;
    padding: 1em 1em 1em 1em;
    font-size: 16px;
    border-radius: 4px;
    border: rgb(0, 0, 0)  1px solid;
}
.input--down {
    position: absolute;
    right: -.5em;
    width: 16em;
    min-width: 0%;
    padding: 1.5em 1em .5em 1em;
    font-size: 16px;
    border-radius: 4px;
    border: rgb(0, 0, 0)  1px solid;
}


