body {
    margin: 0;
    padding: 0;
}

// res //
$phone: 320px;
$tablet: 480px;
$ipad: 768px;
$laptop: 1024px;
$desktop: 1200px;

// Sections //


@import 'header';
@import 'section1';
@import 'section2';
@import 'footer';

// media queries //

@import 'laptop';
@import 'ipad';
@import 'tablet';
@import 'phone';