body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__big-img {
  width: 64%;
  position: relative;
  bottom: 15em;
}
.header__article {
  background-color: rgb(15, 45, 37);
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  padding: 0 0 20em 0;
}
.header__article__logo {
  width: 135px;
  margin: 0.9em 0 0.1em 0;
}
.header__article__h1 {
  margin: 0.4em 0 0 0;
  font-family: "ShopifySans", Helvetica, Arial, sans-serif;
  font-size: 80px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 50%;
  letter-spacing: -2px;
  line-height: 97.1429px;
}
.header__article__h2 {
  margin: 1em 0 0 0;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  font-family: "ShopifySans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 59%;
  text-align: center;
  line-height: 32px;
}
.header__article__email {
  margin: 2em 0 0 0;
}
.header__article__email__form {
  position: relative;
}
.header__article__email__form__label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  left: -18.2em;
  top: 1.5em;
  font-size: 11px;
  font-family: "ShopifySans", Helvetica, Arial, sans-serif;
  color: transparent;
  display: block;
  transition: 0.15s linear;
}
.header__article__email__form__input {
  position: absolute;
  right: -0.5em;
  width: 16em;
  padding: 0.5em 1em 1.5em 1em;
  font-size: 16px;
  border-radius: 4px;
  border: rgb(0, 0, 0) 1px solid;
  transition: padding 0.175s linear 0s;
  outline: none;
}
.header__article__email__form__btn {
  background-color: rgb(50, 128, 96);
  outline: none;
  left: 5.5em;
  bottom: -2.5em;
  border: none;
  position: absolute;
  width: 10em;
  height: 3.25em;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: "ShopifySans", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
.header__article__terms {
  color: rgb(255, 255, 255);
  font-family: "ShopifySans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  position: relative;
  width: 33.5%;
  text-align: center;
  margin: 6em 0 0 0;
  line-height: 18px;
  right: 1.5%;
}
.header__article__terms__link {
  color: rgb(255, 255, 255);
}
.header__article__terms__link:hover {
  text-decoration: none;
}

.section1 {
  margin: -14em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1__article {
  background-repeat: 100%;
  background-image: radial-gradient(circle at 100% 30%, rgba(216, 239, 85, 0.2) 300px, transparent 540px), radial-gradient(circle at 100% 30%, rgba(144, 222, 251, 0.26), transparent 340px), radial-gradient(circle at 95% 1485px, rgba(216, 239, 85, 0.27) 100px, transparent 420px);
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}
.section1__article__advantages {
  padding: 4em 0 12em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  align-items: baseline;
  list-style-type: none;
  position: relative;
}
.section1__article__advantages__item {
  margin: 0 1em 0 0;
  width: 33%;
}
.section1__article__advantages__item__icon {
  transform: scale(2);
  color: rgb(50, 128, 96);
  align-self: baseline;
  position: relative;
}
.section1__article__advantages__item__h3 {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}
.section1__article__advantages__item__p {
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(107, 113, 119);
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  width: 90%;
}
.section1__article__partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  border-top: 1px solid rgb(210, 213, 217);
  border-bottom: 1px solid rgb(210, 213, 217);
  width: 66.5%;
  height: 129px;
  justify-content: space-between;
  position: relative;
  bottom: 4.5em;
}
.section1__article__partners__item {
  width: 10%;
  margin: 0 0 0 -2em;
}
.section1__article__partners__item__img {
  width: 100%;
}
.section1__article__citation {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
.section1__article__citation__logo {
  display: inherit;
}
.section1__article__citation__h1 {
  font-size: 40px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 60%;
}
.section1__article__citation__h2 {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  width: 40%;
  text-align: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(15, 45, 37);
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 0 2.5em 0;
}
.section2__upper-imgs {
  position: relative;
  z-index: inherit;
  width: inherit;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
}
.section2__upper-imgs__stamp1 {
  width: 90px;
  position: absolute;
  z-index: 1;
  left: 1.4%;
  top: -1.3em;
}
.section2__upper-imgs__stamp2 {
  z-index: 1;
  width: 150px;
  position: absolute;
  left: 87.5%;
  overflow: clip;
  transform: rotateZ(19deg);
}
.section2__article {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 79%;
}
.section2__article__text-container {
  display: inherit;
  flex-direction: column;
  text-align: left;
}
.section2__article__text-container__h2 {
  margin: 1.7em 0 0 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 40px;
}
.section2__article__text-container__h3 {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 100%;
}
.section2__article__email {
  display: inherit;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 7%;
}
.section2__article__email__form {
  position: relative;
  bottom: 1em;
}
.section2__article__email__form__label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  left: -15.2em;
  top: 1.5em;
  font-size: 11px;
  font-family: "ShopifySans", Helvetica, Arial, sans-serif;
  color: transparent;
  display: block;
  transition: 0.15s linear;
}
.section2__article__email__form__input {
  position: absolute;
  right: -3.5em;
  min-width: 17em;
  padding: 1em 1em 1em 1em;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  border: rgb(0, 0, 0) 1px solid;
  transition: padding 0.175s linear 0s;
  outline: none;
}
.section2__article__email__form__btn {
  background-color: rgb(50, 128, 96);
  outline: none;
  left: 5.5em;
  top: -0.1em;
  border: none;
  position: absolute;
  width: 10em;
  height: 3.25em;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: "ShopifySans", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
.section2__article__email__terms {
  color: rgb(255, 255, 255);
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  width: 77.3%;
  position: relative;
  top: 4em;
  text-align: center;
}
.section2__article__email__terms__link {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.section2__article__email__terms__link:hover {
  text-decoration: none;
}
.section2__lower-img {
  width: 100%;
  position: relative;
  height: 100%;
}
.section2__lower-img__pic {
  width: 75px;
  position: absolute;
  bottom: -3.2em;
  left: 50%;
  transform: rotateZ(16deg);
}

.input {
  position: absolute;
  right: -0.5em;
  width: 16em;
  min-width: 0%;
  padding: 1em 1em 1em 1em;
  font-size: 16px;
  border-radius: 4px;
  border: rgb(0, 0, 0) 1px solid;
}

.input--down {
  position: absolute;
  right: -0.5em;
  width: 16em;
  min-width: 0%;
  padding: 1.5em 1em 0.5em 1em;
  font-size: 16px;
  border-radius: 4px;
  border: rgb(0, 0, 0) 1px solid;
}

.footer {
  background-image: radial-gradient(circle at 0% 0%, rgba(216, 239, 85, 0.18) 300px, transparent 890px), radial-gradient(circle at 5% 25%, rgba(144, 222, 251, 0.35) 20px, transparent 470px), radial-gradient(circle at 120% 1525px, rgba(144, 222, 251, 0.25), transparent 270px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
}
.footer__article {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  width: 100%;
}
.footer__article__h2 {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 42px;
  line-height: 56px;
  vertical-align: baseline;
  letter-spacing: -0.87px;
  word-spacing: 0px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.footer__article__faqs-container {
  width: 67%;
  display: inherit;
  align-items: left;
  flex-direction: inherit;
  margin: 0 0 0 -2em;
  background: transparent;
}
.footer__article__faqs-container__question {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(210, 213, 217);
}
.footer__article__faqs-container__question__btn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 99.5%;
  text-align: left;
  padding: 2em 0 1em 0;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.footer__article__faqs-container__question__plus {
  font-size: 15px;
}
.footer__article__faqs-container__question__answer {
  position: relative;
  display: block;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: padding 0.1s ease-in-out;
  transition: max-height 0.7s ease-in-out;
}
.footer__article__faqs-container__question__answer__ul__li {
  list-style-type: disc;
  list-style: circle black;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: inherit;
  line-height: 2.5;
}
.footer__article__faqs-container__question__answer__link {
  color: rgb(50, 128, 100);
  font-family: inherit;
  font-size: inherit;
}
.footer__terms-policy {
  width: 73%;
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__terms-policy__container {
  display: inherit;
  flex-direction: row;
  align-self: flex-end;
}
.footer__terms-policy__container__terms {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(82, 127, 96);
  margin: 0 1.5em 0 0;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .header__big-img {
    bottom: 11em;
  }
  .header__article {
    padding: 0 0 15em 0;
  }
  .header__article__logo {
    width: 125px;
    margin-bottom: 1em;
  }
  .header__article__h1 {
    font-size: 40px;
    line-height: 48px;
    width: 75%;
    letter-spacing: -0.8px;
  }
  .header__article__h2 {
    font-size: 16px;
    line-height: 21px;
    width: 75%;
  }
  .header__article__email__form__label {
    left: -22.6em;
  }
  .header__article__email__form__input {
    min-width: 21em;
    right: -2.5em;
  }
  .header__article__email__form__btn {
    left: 8.5em;
  }
  .header__article__terms {
    width: 60%;
  }
  .section1 {
    margin: -10em 0 0 0;
  }
  .section1__article {
    background-image: radial-gradient(circle at 100% 50%, rgba(216, 239, 85, 0.2) 300px, transparent 540px), radial-gradient(circle at 100% 50%, rgba(144, 222, 251, 0.26), transparent 340px), radial-gradient(circle at 95% 1485px, rgba(216, 239, 85, 0.27) 100px, transparent 420px);
  }
  .section1__article__partners {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 66.5%;
    height: auto;
  }
  .section1__article__partners__item {
    min-width: 15%;
    margin: 2em 2em 2em 0;
  }
  .section2 {
    padding: 0 0 8em 0;
  }
  .section2__upper-imgs__stamp1 {
    transform: rotate(23deg);
    left: 94%;
    bottom: -25%;
  }
  .section2__upper-imgs__stamp2 {
    display: none;
  }
  .section2__article {
    flex-direction: column;
  }
  .section2__article__text-container {
    position: relative;
    width: 100%;
    left: -6.5%;
    margin: 0 0 3em 0;
  }
  .section2__article__text-container__h2 {
    width: 100%;
    font-size: 30px;
  }
  .section2__article__text-container__h3 {
    width: 110%;
  }
  .section2__article__email__form {
    width: 100%;
  }
  .section2__article__email__form__label {
    left: -5.2em;
  }
  .section2__article__email__form__input {
    width: 87.5%;
    right: 11em;
  }
  .section2__article__email__form__btn {
    left: 80%;
  }
  .section2__article__email__terms {
    width: 110%;
    position: relative;
    right: 3%;
  }
  .section2__lower-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__big-img {
    bottom: 8em;
  }
  .header__article__h2 {
    width: 88%;
  }
  .header__article__email__form {
    border: 1px solid;
    position: relative;
  }
  .header__article__email__form__label {
    left: -20.6em;
  }
  .header__article__email__form__input {
    width: 2em;
    right: -3.9em;
  }
  .header__article__email__form__btn {
    left: 9.5em;
  }
  .section1 {
    width: 100%;
  }
  .section1__article {
    width: 100%;
  }
  .section1__article__advantages {
    width: 96%;
    position: relative;
    left: 4%;
  }
  .section1__article__advantages__item__h3 {
    font-size: 15px;
  }
  .section1__article__advantages__item__p {
    font-size: 15px;
  }
  .section1__article__partners {
    width: 100%;
  }
  .section1__article__partners__item {
    width: 17%;
    flex-wrap: wrap;
    margin: 2em 0em 2em 0em;
  }
  .section2__article__email__form__label {
    left: -2.8em;
  }
  .section2__article__email__form__input {
    width: 79%;
    right: 11em;
  }
  .section2__article__email__form__btn {
    left: 73%;
  }
  .section2__article__email__terms {
    right: 10%;
  }
}
@media (max-width: 480px) {
  .header {
    max-width: 480px;
  }
  .header__article {
    padding: 0 0 10em 0;
  }
  .header__article__h1 {
    font-size: 35px;
    line-height: 48px;
    width: 77%;
  }
  .header__article__h2 {
    font-size: 14px;
    width: 77%;
  }
  .header__article__email__form {
    width: 100%;
  }
  .header__article__email__form__label {
    left: -11.3em;
  }
  .header__article__email__form__input {
    padding-right: 0em;
    width: 6em;
    left: -8.8em;
  }
  .header__article__email__form__btn {
    left: -8.8em;
    top: 4em;
    width: 22.1em;
  }
  .header__article__terms {
    margin: 12em 0 0 0;
  }
  .header__big-img {
    bottom: 6em;
    width: 100%;
  }
  .section1 {
    padding: 0;
    width: 100%;
  }
  .section1__article {
    padding: 0;
    width: 100%;
  }
  .section1__article__advantages {
    flex-direction: column;
    padding: 0;
    margin: 5em 0 0 -2em;
    width: 95%;
    position: relative;
    left: 6%;
  }
  .section1__article__advantages__item {
    width: 100%;
    margin: 0 0 0 0;
  }
  .section1__article__advantages__item__icon {
    left: 3%;
  }
  .section1__article__advantages__item__h2 {
    width: 100%;
  }
  .section1__article__partners {
    margin: 10em 0 0 0;
    max-width: 80%;
  }
  .section1__article__partners__item {
    width: 27%;
    margin: 1.5em 2em 0.5em -1em;
  }
  .section1__article__partners__item__img {
    width: 100%;
  }
  .section1__article__citation__h1 {
    width: 90%;
    font-size: 30px;
    font-weight: 700;
  }
  .section1__article__citation__h2 {
    width: 90%;
    font-size: 23px;
  }
  .section2__upper-imgs__stamp1 {
    left: 85%;
    bottom: -27%;
  }
  .section2__article__email__form {
    width: 100%;
  }
  .section2__article__email__form__label {
    left: -3.3em;
  }
  .section2__article__email__form__input {
    padding-right: 0em;
    width: 25em;
    left: -3.3em;
  }
  .section2__article__email__form__btn {
    margin: 1em 0 0 0;
    left: -3.3em;
    top: 4em;
    width: 26.3em;
  }
  .section2__article__email__terms {
    margin: 5em 0 0 0;
    font-size: 14px;
    width: 100%;
  }
  .footer__article__faqs-container {
    width: 72%;
  }
  .footer__article__faqs-container__question__btn {
    font-size: 16px;
  }
  .footer__article__faqs-container__question__plus {
    margin: 0 0 0 1em;
  }
  .footer__terms-policy__container {
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 2em;
  }
  .footer__terms-policy__container__terms {
    text-align: right;
    align-self: center;
  }
}
@media (max-width: 320px) {
  .header__article {
    overflow: hidden;
  }
  .header__article__h1 {
    font-size: 40px;
    width: 95%;
  }
  .header__article__h2 {
    font-size: 16px;
    width: 80%;
  }
  .header__article__email__form__label {
    left: -10em;
  }
  .header__article__email__form__input {
    width: 100%;
    padding: -3em;
    left: -8em;
  }
  .header__article__email__form__btn {
    width: 17em;
    left: -6.2em;
  }
  .header__article__email__terms {
    width: 80%;
  }
  .section1__article__partners__item {
    width: 40%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .section2__article__email__form__label {
    left: -1em;
  }
  .section2__article__email__form__input {
    max-width: 110%;
    left: -1.8em;
  }
  .section2__article__email__form__btn {
    margin-top: 1em;
    width: 17em;
    left: -1.65em;
  }
  .section2__article__email__terms {
    left: -6%;
  }
}/*# sourceMappingURL=style.css.map */